

body {
    font-family: "Tittilium Web", sans-serif;
    background-color: #E5D7A5;
    color: black;
    margin: 0% 10% 0% 10%;
}

title {
  text-align: center;
  margin-top: 5%;
  font-size: 300%;
  color: #6E5006;
}

h1 {
    font-size: 300%;
    color: #FFCD10;
    margin-bottom: 3%;
    border-bottom: 2px solid #FFFFFF;
    text-shadow: 1px 1px black;
}

h1:hover {
    color: #82D99D;
}

h1.active {
    color: #FFCD10;
}

h1.active:hover {
    color: #82D99D;
}

h2 {
    color: #FFCD10;
    font-size:150%;
    border-bottom: 1px solid white;
    text-shadow: 1px 1px black;
}

h3 {
    color: #82D99D;
    font-size:125%;
    border-bottom: 1px solid white;
    text-shadow: 1px 1px black;
}

p {
    font-family: "Titillium Web", sans-serif;
    text-shadow: 1px 1px black;
}

a:link {
    color: #82D99D;
    text-decoration: none;
}
a:visited {
    color: #D1D0CC;
    text-decoration: none;
}
a:hover {
    color: #FFCD10;
    text-decoration: underline;
}
#home{
    text-decoration: none;
}

.main-menu {
    background-color: black;
    overflow: hidden;
    border-radius: 25px;
    margin-bottom: 5%
}

.main-menu>a {
    float: left;
    color: #82D99D;
    text-align: center;
    padding: .8% 2%;
    text-decoration: none;
    border-radius:25px;
    font-size: 125%;
}

.main-menu > a:hover {
    background-color: rgba(255, 203, 16, 0.795);
    color: black;
}

.main-menu > a.active {
    background-color: #FFCD10;
    color:black;
}


table, th, td {
    text-shadow: 1px 1px black;
    border: 3px solid #CCCCD1;
    border-collapse: collapse;
    text-align: center; 
}

table {
    table-layout:fixed;
}

tr:hover {
    background-color: black;
    color:#82D99D;
}

th {
    font-size: 115%;
    color: #FFCD10;
    background-color: black;
}

td {
    font-family: "Titillium Web", sans-serif;
}

img {
    max-width: 47%;
    padding: 5px;
}
