ul.main-menu {
    font-family: sans-serif, verdana;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul.main-menu li {
    display: inline;
}

p {
 font-style: normal;
 font-family: sans-serif;
 font-size: 15px;
 padding-top: 10px;
 padding-bottom: 10px;
}

.h1 {
 font-family: sans-serif, verdana;      
}
 
.h2 {
 font-family: sans-serif, verdana;
}
