@import url('https://fonts.googleapis.com/css?family=Pridi|Titillium+Web');

body {
    font-family: "Titillium Web", sans-serif;
    background-color: #E5D7A5;
    color: black;
    margin: 0% 10% 0% 10%;
}

/**.title {
  font-family: "Shrikhand", sans-serif; 
  text-align: center;
  margin-top: 5%;
  font-size: 300%;
  color: #B17BFF;
}**/

h1 {
    font-size: 300%;
    color: #6F8E79;
    margin-bottom: 3%;
    border-bottom: 2px solid #DCABAB;
    text-shadow: 3px 3px black;
}

h1:hover {
    color: #6F8E79;
}

h1.active {
    color: #6F8E79;
    border-bottom: 2px solid #DCABAB;
}

h1.active:hover {
    color: #9B7AC4;
}


h2 {
    text-align: center;
    color: #6F8E79;
    font-size:150%;
    border-bottom: 2px solid #DCABAB;
    text-shadow: 2px 2px black;
}

p {
    font-family: "Pridi";
}

a:link {
    color: #82D99D;
    text-decoration: none;
}
a:visited {
    color: #D1D0CC;
    text-decoration: none;
}
a:hover {
    color: #6F8E79;
    text-decoration: underline;
}
#home{
    text-decoration: none;
}

.main-menu {
    color: #6F8E79;
    background-color: black;
    overflow: hidden;
    border-radius: 25px;
    margin-bottom: 10px;
}

.main-menu>a {
    float: left;
    color: #7D847F;
    text-align: center;
    padding: .5% 3%;
    text-decoration: none;
    border-radius:25px;
    font-size: 100%;
}

.main-menu>a:hover {
    background-color: rgba(255, 203, 16, 0.795);
    color: black;
}

.main-menu>a.active {
    background-color: #E5BAB0;
    color:black;
}


table, th, td {
    border: 3px solid #D2D2D5;
    border-collapse: collapse;
    text-align: center; 
}


table {
    table-layout:fixed;
}


tr:hover {
    background-color: black;
    color:#82D99D;
}

th {
    font-size: 115%;
    color: #7D847F;
    background-color: black;
}

td {
    font-family: "Titillium Web", sans-serif;
}
img {
    max-width: 50%;
    padding: 50px;
}
.nemo { 
    width: 50px; 
    height: 50px; 
    display: block;
    margin-left: auto;
    margin-right: auto; 
} 


